@charset "UTF-8";
/* CSS Document */
body{
	width:70%;
}
#contenido{
	background-color:yellow;
	border: 1px solid #cccccc;
}
#encabezado{
	background-color:#ff99ff;
	border: 1px solid #cccccc;
	color:white;
}
#equivalentes{
	background-color:#9c9;
	border: 1px solid #cccccc;
}
#piepagina{
	background-color:#FF9900;
	border: 1px solid #cccccc;
}
